server:
  port: 8093

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8085/.well-known/jwks.json

services:
  auth-service: http://localhost:8085