server:
  port: 8080
  ssl:
    enabled: true
    key-store: classpath:keystore/gateway-keystore.p12
    key-store-password: ${KEYSTORE_SECRET}
    key-store-type: PKCS12

frontend:
  url: http://localhost:8090
  port: 8090

spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8085/.well-known/jwks.json

  # --- НАСТРОЙКА МАРШРУТОВ ---
  cloud:
    gateway:
      server:
        webflux:

          routes:
            # --- 1. Маршруты для AuthService (:8085) ---
            # Правило для публичных эндпоинтов (логин, ключи)
            - id: auth-public-route
              uri: http://localhost:8085
              predicates:
                - Path=/auth/**, /.well-known/jwks.json

            # Правило для защищенных эндпоинтов (пользователи)
            - id: users-service-route
              uri: http://localhost:8085
              predicates:
                - Path=/api/users/**

            # --- 2. Маршрут для сервиса сообщений (:8087) ---
            - id: messaging-service-route
              uri: http://localhost:8087
              predicates:
                # Все эти пути будут перенаправлены на сервис сообщений
                - Path=/api/attachments/**, /api/chats/**, /api/messages/**

            # --- 3. Маршрут для сервиса хранения файлов (:8088) ---
            - id: storage-service-route
              uri: http://localhost:8088
              predicates:
                - Path=/api/storage/**

            # --- 4. Маршрут для сервиса изображений в БД (:8089) ---
            - id: images-db-service-route
              uri: http://localhost:8089
              predicates:
                - Path=/api/images/**

            # --- 5. Маршрут для сервиса входа и регистрации в БД (:8082) ---
            - id: registration-service-route
              uri: http://localhost:8082
              predicates:
                - Path=/api/verification/**, /api/authentication/**


            # --- 6. Маршрут для сервиса пользовательской информации (:8092) ---
            - id: user-details-service-route
              uri: http://localhost:8092
              predicates:
                - Path=/api/profiles/**

            # --- 7. Маршрут для WebSocket сервиса (:8086) ---
            - id: websocket-route
              uri: http://localhost:8086
              predicates:
                - Path=/ws-chat/**

            # --- 9. Маршрут для поискового сервиса (:8093) ---
            - id: search-service-route
              uri: http://localhost:8093
              predicates:
                - Path=/api/search/**
