yandex:
  baseUrl: https://cloud-api.yandex.net/v1/disk/resources
  application-path: /chat_application
  oauth-token:  ${YANDEX_OAUTH}

server:
  port: 8088

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8085/.well-known/jwks.json

services:
  in-database-image-service: http://localhost:8089
  analysis-service: http://localhost:8094

webclient:
  timeout: 10

logging:
  level:
    org:
      springframework:
        web:
          reactive:
            function:
              client:
                ExchangeFunctions: TRACE
